@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Montserrat";
		src:
			url("./assets/fonts/montserrat/Montserrat-Bold.ttf") format("woff"),
			url("./assets/fonts/montserrat/Montserrat-Bold.ttf")
				format("truetype");
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: "Montserrat";
		src:
			url("./assets/fonts/montserrat/Montserrat-Regular.woff")
				format("woff"),
			url("./assets/fonts/montserrat/Montserrat-Regular.ttf")
				format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "RockSalt";
		src:
			url("./assets/fonts/rock-salt/RockSalt-Regular.woff") format("woff"),
			url("./assets/fonts/rock-salt/RockSalt-Regular.ttf")
				format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	html {
		font-family: "Montserrat", sans-serif;
	}
}

@layer components {
	.title {
		@apply text-40px font-bold;
	}

	.description {
		@apply text-20px;
	}

	.link,
	.btn {
		@apply flex items-center justify-center rounded-[45px] focus:outline-none;
	}

	.link__icon {
		@apply bg-white absolute right-2 flex items-center justify-center h-10 w-10 rounded-[45px] transition-all duration-300 group-focus:w-[calc(100%-16px)] group-hover:w-[calc(100%-16px)] group-active:scale-95;
	}

	.btn-background-primary,
	.link-background-primary {
		@apply text-white bg-primary;
	}

	.btn-border-primary,
	.link-border-primary {
		@apply border-2 border-solid border-primary text-black bg-transparent;
	}

	.btn-border-white,
	.link-border-white {
		@apply border-2 border-solid border-white text-white bg-transparent;
	}

	.btn-animation,
	.link-animation {
		@apply transition duration-300 hover:translate-y-[-5px] focus:translate-y-[-5px] active:scale-95 active:duration-300;
	}
}
